# !!!!! IMPORTANT  !!!!!!
# Rename this file to `.env` and make sure you DO NOT PUSH this openly to GitHub 
# with your secrets!!!
OPENBIS_URL=https://path.to.your.deployed.openbis.com/
OPENBIS_USERNAME=username
OPENBIS_PASSWORD=password
